*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --red-color: #EA0000;
    --black-color: #EA0000;
    --text-font: "Poppins", sans-serif;
    --heading-font: "Abhaya Libre", serif;
}

button {
  outline: 0;
  border: 0;
  font-family: var(--text-font);
}

.flex {
  display: flex;
  align-items: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--red-color);
    font-weight: 800;
}

/***********STYLES FOR HEADER STARTS***********/
.nav-top {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.show-lists {
  display: block;
}

nav button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

nav ul {
  display: none;
}

.links {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: #FCC7C3;
  position: fixed;
  z-index: 10;
  transition: 0.5s transform ease;
  top: 0;
  left: 0;
  transform: translateX(-100vw);
}

.show-links {
  transform: translateX(0);
}

header {
  padding: 3rem 1.5rem;
}

header .online-orders {
  text-transform: uppercase;
  font-size: .9rem;
}

header .online-orders {
    color: #EA0000;
}

header h1 {
  font-size: 29vw;
}

header button {
    color: #fff;
    width: 9rem;
    height: 3rem;
    margin-top: 4rem;
    font-weight: 700;
    border-radius: 10px;
}

.red-btn {
    margin-right: 1rem;
}

.red-btn,
.product button {
    background-color: var(--red-color);
    box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
    -webkit-box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
    -moz-box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
}

.black-btn {
    background-color: #000;
    box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
    -webkit-box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
    -moz-ox-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
}

.food-time {
    margin: 7rem 0 4rem;
}

.food-time div:nth-child(1) {
    margin-right: 3rem;
}

.food-time p:nth-child(1){
    font-weight: 700;
    font-size: 1.1rem;
}

.food-time p:nth-child(2){
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.85rem;
}

.hero-bg {
    background: url('./assets/leaves-overlay.png');
    height: auto;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.hero-bg img{
    width: 100%;
    height: auto;
}

/***********STYLES FOR HEADER ENDS***********/

main {
    padding: 0 1.5rem;
}

/***********STYLES FOR POPULAR PRODUCTS***********/
.popular-products .heading p,
.popular-products .heading h2{
     text-align: center;
}

.heading p {
    font-weight: 700;
    font-size: .9rem;
}

.heading h2 {
    font-size: 11vw;
}

.product {
    margin: 2rem 0 7rem;
}

.product img,
.product button{
    margin: auto;
    display: block;
}

.product img:nth-child(1) {
    margin: 0 auto 1.5rem;
}

.product p {
    text-align: center;
}

.food-origin {
    font-weight: 400;
    font-size: .85rem;
    margin: 1rem 0;
}

.food-name {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.product button {
    color: #f9f9f9;
    font-weight: 400;
    height: 3rem;
    padding: 0 1.5rem;
    font-size: .8rem;
}